.card{
    overflow: hidden;
}

.img{
  position: absolute;
  margin: 0 auto;
}

#all{
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin:0 auto;
}

.imgres{
  max-width: 100%;
}

#butimage{
  width: 40px;
  height: 40px;
  margin-top : 15px;
}

.title{
  margin-top: 0px;
}

.set{
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.w3-card{
  margin-bottom: 40px;
}

#details{
    max-width: 100%;
    min-width: 100%;
    min-height: 300px;
    max-height: 300px;
    
}

.cat:hover{
    background-color:#9900ff;
    cursor: pointer;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}
.box.has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
}
.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

